<nav id="dawgdrops">
    <div class="dawgdrops-inner container">
        <ul class="dawgdrops-nav" id="menu-brand-menu">
            <li class="dawgdrops-item">
                <a class="dropdown-toggle" href="http://www.washington.edu/brand/section/brand-vision/" id="189" title="Brand vision">Brand vision</a>

                <ul class="dawgdrops-menu" id="menu-189">
                    <li>
                        <a href="http://www.washington.edu/brand/section/brand-vision/" id="492" tabindex="-1" title="Brand vision">Brand vision</a>
                    </li>

                    <li>
                        <a href="http://www.washington.edu/brand/section/messaging-framework/" id="488" tabindex="-1" title="Messaging framework">Messaging framework</a>
                    </li>
                </ul>
            </li>

            <li class="dawgdrops-item">
                <a class="dropdown-toggle" href="http://www.washington.edu/brand/section/graphic-elements/" id="202" title="Visual">Visual</a>

                <ul class="dawgdrops-menu" id="menu-202">
                    <li>
                        <a href="http://www.washington.edu/brand/section/colors/" id="490" tabindex="-1" title="Colors">Colors</a>
                    </li>

                    <li>
                        <a href="http://www.washington.edu/brand/section/fonts/" id="491" tabindex="-1" title="Fonts">Fonts</a>
                    </li>

                    <li>
                        <a href="http://www.washington.edu/brand/section/logos/" id="489" tabindex="-1" title="Logos">Logos</a>
                    </li>

                    <li>
                        <a href="http://www.washington.edu/brand/section/photography/" id="487" tabindex="-1" title="Photography">Photography</a>
                    </li>
                </ul>
            </li>

            <li class="dawgdrops-item">
                <a href="http://www.washington.edu/brand/section/editorial/" id="193" title="Editorial">Editorial</a>
            </li>

            <li class="dawgdrops-item">
                <a href="http://www.washington.edu/brand/section/help/" id="486" title="Help">Help</a>
            </li>
        </ul>
    </div>
</nav>
