
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
<meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

<link rel="stylesheet" href="/css/mini.css">
<link rel="stylesheet" href="{{ "/css/mini.css" | relative_url }}">

</head>

  <body>

    <header>
        {% include uw-mini-header.html %}
    </header>

    <h1>UW Theme 2017</h1>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    <footer>footer goes here</footer>

  </body>

</html>
